body {
  display:flex; 
  flex-direction:column; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  height: 100%;
  background-color: #FFCC00;
}

#root{
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.content{
  padding: 30px;
}

/* Header */
.header-content{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #1F2421;
  padding: 10px 5%;
}

.nav-link{
  list-style: none;
}

.nav-link li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-link li a, .header-content{
  text-decoration: none;
  color: white;
}

.nav-link li a{
  transition: all 0.3s ease 0s;
}

.nav-link li a:hover{
  color: #0088a1
}

.container-logo{
  margin-right: auto;
  
}

.header-logo{
  width: 18%;
  vertical-align: middle;
}

.header-title-text {
  font-size: 20px;
  font-weight: bold;
}

.header-button-add {
  float: right;
}



/* Loader */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
  top: 50%;
}

/* List */

.container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

/* Item */

.grid-item {
  color: #3a3a3a;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px;
  
}

.preview-image {
  width: 50%;
  margin: 0 auto;
}

.preview-title {
  padding: 10px;
}

.preview-quote{
  text-align: justify;
}

.grid-item-link{
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 20px;
  text-decoration: none;
}

/* Footer */

.footer{
  margin-top: auto;
  background: #1F2421;
  color: white;
  height:100px;
}

.footer > p{
  text-align: center;
  padding: 10px;
}

/* Buttons */

/* Add */

.button-add-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  border: none;
  cursor: pointer;
}



.button-add-float-text {
    font-weight: bold;
    font-size: 21px;
}

/** MODAL **/

.modal {
  display:block;  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

label {
  display: block;
  font-weight: bold;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit],input[type=button]  {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   display: block;
  margin-top:6px;
}

input[type=submit]:hover,input[type=button]:hover {
  background-color: #45a049;
}
input[type=submit]:disabled,input[type=button]:disabled {
background-color: #cccccc;
color: #666666;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}